* {
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.84rem;
  outline: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  font-display: fallback;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1680px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
}

.main {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.indexbody{
  overflow-y: hidden;
}
.gameroom {
  height: 100vh;
}

iframe {
  border: none;
}

.box {
  background: #D3CCE3;
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  border: 2px solid black;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 10px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  box-shadow:  7px 7px 11px 0 #1a0505a6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box:hover {
  box-shadow: none;
  border: 2px solid blue;
  transform: scale(1.05);
}

.box h2 {
  margin-bottom: 1%;
}

.box a:last-of-type {
  display: block;
  width: 13rem;
  margin: 0 auto;
  margin-top: 2%;
  text-transform: uppercase;
  color: white;
  background-color: #f13838;
  padding: 8px;
  transition: background 0.3s ease-out;
  border-radius: 13px;
  font-weight: 500;
  outline: none;
}

.box a:last-of-type:hover {
  /* background-color: #9C27B0; */
  background-color: #b90707;
}

.box a:last-of-type:active,
.box a:last-of-type:focus {
  background-color: #08e908;
  transform: translateY(3px);
}

.category {
  border: 1px solid #7db7f0;
  display: inline-block;
  width: 30%;
  font-size: 1.2rem;
  padding: 2px;
  border-radius: 10px;
  margin: 5% 3%;
  transition: all .2s;

}

.category:hover {
  border-color: rgb(8, 8, 204);
}

hr {
  width: 55%;
}

.box p {
  display: inline;
}

footer {
  text-align: center;
  position: relative;
  height: 60px;
  clear: both;
  background-color: #414141;
  padding: 10px 0;
  color: white;
}

footer p {
  word-spacing: 2px;
  line-height: 1px;
}

footer a {
  color: #afafaf;
}

.row {
  width: 100%;
  background-color: #363636;
  color: #a3a3a3;
  padding: 10px 0;
}

.production {
  text-align: center;
  margin: 0;
  word-spacing: 4px;
  letter-spacing: 3px;
  font-size: 1.2rem;
}


header {
  background: rgb(221, 221, 223);
  box-shadow: 0px 4px 15px 0px #595959;
  width: 100%;
  position: fixed;
  height: 65px;
  top: 0;
  z-index: 999;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  color: black;
  height: 65px;
  line-height: 65px;
  text-transform: uppercase;
  margin: 0 1px;
  padding: 0 40px;
  font-weight: 500;
  display: block;
}

nav ul a.active,
nav ul a:hover {
  background: rgb(182, 182, 185);
  transition: .5s;
}

.navbar-toggle {
  float: right;
  cursor: pointer;
  font-size: 4rem;
  line-height: 55px;
  color: #dd2323;
  display: none;
}

.slide {
  right: 0;
}


.logo img {
  width: 165px;
  height: 65px;
}

.promo {
  display: none;
  background-color: #7f38fb;
  padding: 0 2%;
  border-radius: 15px;
  width: 55%;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;
  -webkit-box-shadow: 0 5px 7px -2px #808080a1;
  box-shadow: 0 5px 7px -2px #808080a1;
}

.promo p {
  font-size: 2.4rem;
  color: #fdfaff;
  display: inline-block;
  font-weight: 400;
  margin-right: 3%;
}

.headlineIn,
.headlineCa {
  text-align: center;
  color: #fefefe;
  letter-spacing: 5px;
}

.headlineIn {
  margin-top: 140px;
}


.catbox {
  margin: 30px auto 20px;
  text-align: center;
  width: 60%;
}

.catbox a {
  display: inline-block;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px;
  margin: 3px;
  background-color: #7f38fb;
  color: rgb(247, 247, 247);
  border-radius: 10px;
  border: 2px solid rgb(86, 85, 88);
  transition: all .2s ease;
  cursor: pointer;
}


.catbox a:hover {
  background-color: #570dd8;
}

.catbox a:active,
.catbox a:focus {
  border-color: rgb(190, 187, 187);
}

.catfoot {
  margin-top: 4%;
}

.about-section {
  width: 60%;
  max-width: 1680px;
  height: auto;
  margin: 170px auto 30px;
  padding: 2% 3% 3%;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 8px;
}

.about-body {
  background-image: url('cool-background.png');
  background-size: cover;
  background-position: center;
  height: auto;
}

.about-section p {
  line-height: 180%;
  font-size: 1.84rem;
  color: #611566;
}

.about-section hr {
  width: 40%;
  border-color: #f13838;
}

.about-section a {
  font-weight: 400;
  color: #f13838;
}

.about-section h2 {
  color: #bb1010;
}

.about-section h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #f13838;
}

a.contact {
  margin: 0 3%;
  font-size: 2.5rem;
}


.loader {
  position: absolute;
  top: 25%;
}
.loader img{
  width: 90%;
}

/* ANIMATIONS  */
/* BOUNCE IN FWD */
.bounce-in-fwd,
.bounce-in-fwd1 {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}
.bounce-in-fwd1 {
  animation-delay: 1s;
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.hvr-wobble-skew {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.hvr-wobble-skew:hover,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




/* Media Query */
@media (max-width:1268px) {

  .wrapper {
    width: 90%;
  }
}

@media (max-width:791px) {
  .wrapper {
    width: 95%;
  }
  footer{
    height: 45px;
  }
  .catbox {
    width: 80%;
  }

  body,
  html {
    font-size: 50%;
  }

  .logo img {
    width: 125px;
    height: 55px;
    margin: 0;
  }

  header {
    height: 55px;
  }

  nav ul li a {
    height: 55px;
    line-height: 55px;
  }

  .headlineIn {
    margin-top: 112px;
  }

  .headlinehr {
    margin-bottom: 30px;
  }

  .box h2 {
    margin: 8px auto;
  }

  .box {
    padding: 1% 1% 2%;
  }

}



@media (max-width:675px) {
  .navbar-toggle {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 55px;
    right: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 9999;
    display: block;
  }

  nav ul a:hover,
  nav ul a.active {
    color: rgb(0, 0, 0);
  }

  nav ul li a {
    line-height: 70px;
    height: 70px;
    font-size: 2.1rem;
    color: white;
  }

  nav ul li {
    border-bottom: 1px solid rgb(2, 16, 48);
  }

  nav ul li:first-of-type {
    margin-top: 80px;
  }

  .box {
    flex-basis: 160px;
  }

  .box img {
    width: 120px;
  }

  .box h2 {
    font-size: 1.8rem;
  }

  .catbox a {
    font-size: 1rem;
  }

}

@media (max-width:584px) {
  .box {
    flex-basis: 180px;
    margin: 2%;
  }

  .box img {
    width: 160px;
  }

  .main {
    justify-content: center;
  }
}

@media (max-width:440px) {
  .box:hover {
    transform: none;
  }
  .headlinehr {
    margin-bottom: 20px;
  }
  nav ul li a {
    line-height: 60px;
    height: 60px;
    font-size: 1.8rem;
  }

  body,
  html {
    font-size: 48%;
  }

  .headlineIn ,.headlineCa{
    font-size: 2.5rem;
  }

  .box {
    flex-basis: 170px;
    flex: 1 1;
    padding: 2px 0 2%;
  }

  .box img {
    width: 135px;
  }

  .box a:last-of-type {
    width: 77px;
    font-size: 1.5rem;
  }

  .navbar {
    width: 90%;
  }

  .catbox {
    margin-top: 15px;
    width: 90%;
  }
  footer a,
  footer p{
    font-size: 1.4rem;
  }
  footer{
    height:38px;
  }
  .loader img{
    width: 140px;
  }
}

@media (max-width:352px) {
  .box {
    padding: 2px 1% 3%;
  }
  .headlinehr {
    margin-bottom: 10px;
  }
  .box img {
    width: 100px;
  }

  .catbox a {
    font-size: 0.8rem;
    margin: 2px;
  }
  footer a,footer p{
    font-size: 1.2rem;
  }
  footer{
    height:30px;
  }

  .loader img{
    width: 100px;
  }
}

@media (max-width:300px) {
  .box {
    flex-grow: 0;
    flex-basis: 200px;
    margin-bottom: 8%;
  }

  .box img {
    width: 150px;
  }
}
